# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\YidaFile\YiDaProject\xhs_x-sign\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
